ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
	
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color:#e7e7e7 ;
}

body{
	font-size: 25px;
    font-family: "Impact", "Charcoal", "sans-serif";
}
	
p {
	font-size: 18px;
	font-family: "Arial";
	text-align: left;
	margin-left: 110px;
	margin-right: 110px;
	margin-bottom:40px;
}
	
h2{
	text-align: center;
	margin: 18px;
	font-weight: normal;
	margin-bottom:50px;
}


h1{
	text-align: center;
	margin: 80px;
	font-weight: normal;
}

.textcontainer{
	height: auto;
	width: 1220px;
	margin-top: 200px;
	margin: auto;
	background-color: #f3f3f3;
	padding:30px
	
}
	
.container{
	height: auto;
	width: 1220px;
	margin-top: 200px;
	margin: auto;
	background-color: #ddd;
}

.column-left{ 
float: left; 
width: 50%;
}

.column-right{ 
float: right; 
width: 50%; 
}

div.bildeboksl {
    margin-bottom: 20px;
	margin-right: 20px;
	background-color: #f3f3f3;
    float: left;
    width: 605px;
}	

div.bildeboksr {
    margin-bottom: 20px;
	margin-left: 20px;
	background-color: #f3f3f3;
    float: right;
    width: 605px;
}	
	
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px
}

img:hover{
	opacity: 0.7;
	-webkit-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}