.wrapper{
    width: 750px;
    margin: 0 auto;
    padding-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
	width: 100%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	/*padding-bottom:2em;*/
	padding-top:2em;


}

li {
    float: centre;
	display: inline;
}

li a {

  display:inline-block;
  color: #666;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 15px;
}

li a:hover:not(.active) {
    color: black;
}

li a.active {
    color: black;

}
.container{
  /*display:block;
  width: 700px;
  height: auto;
	margin-top: 300px;
	margin: auto;*/
}

}
.prosjektboks{
  /*padding-bottom: 20px;
  height: auto;*/
  display:inline-block;
  /*border: 2px solid #333;*/
}

.prosjektbox img {
    display: block;
    max-width: 100%;
    margin-left: auto;
	  margin-right: auto;
    padding-top: 30px;
    /*max-height: 100%;*/
}
/*@font-face {
   font-family: myFirstFont;
   src: url(https://fonts.google.com/specimen/Open+Sans+Condensed);

}*/

body{
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
	text-align: left;
	margin-bottom:40px;
  font-size: 15px;
}
h1{
  font-size: 25px;
	display:block;
	text-align: center;
	color: #444444;
  text-transform: uppercase;
  font-weight: normal;
  padding: 30px;
}
h2{
	text-align: center;
  font-size: 15px;
  color: #444444;
}



.textcontainer{
	height: auto;
	width: 780px;
	margin-top: 200px;
	margin: auto;
	background-color: white;
  max-width: 100%;
  max-height: 100%;


}

img:hover{
	opacity: 0.7;
	-webkit-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
